  <div class="portlet light portlet-fit portlet-datatable bordered"> 
   <div class="portlet-title"> 
    <div class="caption"> 
     <i class=" fa fa-group font-green"></i> 
     <span class="caption-subject font-green sbold uppercase">管理员名单</span> 
    </div> 
   </div> 
   <div class="portlet-body"> 
    <div class="table-toolbar"> 
     <div class="row" target-table="adminListTable" > 
      <div class="col-md-6">
       <div class="btn-group"> 
        <button data-state="all" class="btn sbold blue-madison"> 全部管理员 <i class="fa fa-user"></i></button> 
       </div> 
       <div class="btn-group"> 
        <button data-state="normal" class="btn sbold green-meadow"> 正常名单 <i class="fa fa-child"></i></button> 
       </div>
       <div class="btn-group"> 
        <button  class="btn sbold btn-warning" data-state="lock"> 锁定名单 <i class="fa fa-expeditedssl"></i></button> 
       </div> 
       <div class="btn-group"> 
        <button  class="btn sbold blue-hoki" data-state="black"> 黑名单 <i class="fa fa-user-times"></i></button> 
       </div>
      </div>  
      <div class="col-md-6"> 
       <div class="btn-group pull-right btn-group-circle">
        <button class="btn green" href="javascript:;" data-toggle="dropdown">
          <i class="fa fa-user"></i> 管理员 
          <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu"> 
         <li> <a href="javascript:;" operate="recover"><i class="fa fa-history"></i> 恢复 </a> </li> 
         <li> <a href="javascript:;" operate="unlock"><i class="fa fa-unlock-alt"></i> 解锁 </a> </li> 
         <li> <a href="javascript:;" operate="delete"><i class="fa fa-trash-o"></i> 删除 </a> </li> 
        </ul> 
       </div> 
      </div> 
     </div> 
    </div> 
    <table class="table table-striped table-bordered table-hover table-checkable order-column" id="adminListTable"> 
     <thead> 
      <tr> 
       <th class="table-checkbox"> <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline"> <input type="checkbox" class="group-checkable" data-set="#adminListTable .checkboxes" /> <span></span> </label> </th> 
       <th data-data="id" data-searchable="false" data-visible="false">Id</th> 
       <th data-data="username" data-searchable="true">姓名</th> 
       <th data-data="stunum" data-searchable="true">学号</th> 
       <th data-data="role" data-searchable="true">职务</th> 
       <th data-data="last_login_time" data-searchable="false" data-orderable="false">上次登录时间</th>
       <th data-data="last_login_ip" data-searchable="false"  data-orderable="false">上次登录的IP</th>
       <th data-data="last_login_os" data-searchable="false"  data-orderable="false">上次登录的设备系统</th>
       <th data-data="state" data-searchable="false"  data-orderable="false">管理员状态</th>
      </tr> 
      <!-- <th>状态</th> --> 
     </thead> 
     <tbody></tbody> 
    </table> 
   </div> 
  </div> 
  <script type="text/javascript">
    jQuery(document).ready(function(){
        initTable('adminListTable', '{:U("Data/adminList")}', '{:U("Admin/operate")}');
        UIExtendedModals.init();
});
</script> 
 