  <div class="portlet light portlet-fit portlet-datatable bordered"> 
   <div class="portlet-title"> 
    <div class="caption"> 
     <i class="fa fa-book font-green"></i> 
     <span class="caption-subject font-green sbold uppercase">文章列表</span> 
    </div>
    <div class="actions">
      <div class="btn-group">
        <a class="btn btn-circle blue-hoki" href="javascript:;" data-target="#addArticle" data-toggle="modal">增加文章 <i class="fa fa-plus"></i> </a>
      </div>
    </div> 
   </div> 
   <div class="portlet-body"> 
    <div class="table-toolbar"> 
     <div class="row" target-table="articleListTable" > 
      <div class="col-md-6" >
          <div class="margin-bottom-10">
              <div class="col-md-5">
              类型：
                  <select class="bs-select form-control input-small" data-style="btn btn-circle blue-madison" name="articleType" data-column="type">
                      <option value="">全部</option>
                      <option value="公告">公告</option>
                      <option value="重邮新闻,教务在线,学术讲座,校务公告">新闻</option>
                      <option value="哔哔叨叨">哔哔叨叨</option>
                      <option value="话题文章">话题文章</option>
                  </select>
              </div>
              <div class="col-md-5">
              状态：
                  <select class="bs-select form-control input-small" data-style="btn btn-circle green-haze" name="articleState" data-column="state">
                      <option value="all">全部</option>
                      <option value="normal">正常的文章</option>
                      <option value="black">禁用的文章</option>
                  </select>
              </div>
          </div>

          
      </div> 
      <div class="col-md-6"> 
       <div class="btn-group pull-right btn-group-circle" > 
        <button class="btn green" href="javascript:;" data-toggle="dropdown">
          <i class="fa fa-book"></i>  文 章 
          <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu"> 
         <li> <a href="javascript:;" operate="recover"><i class="fa fa-history"></i> 恢 复 </a> </li> 
         <li> <a href="javascript:;" operate="delete"><i class="fa fa-trash-o"></i> 删 除 </a> </li> 
        </ul> 
       </div> 
      </div> 
     </div> 
    </div> 
    <table class="table table-striped table-bordered table-hover table-checkable order-column" id="articleListTable"> 
     <thead> 
      <tr> 
       <th class="table-checkbox"> <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline"> <input type="checkbox" class="group-checkable" data-set="#articleListTable .checkboxes" /> <span></span> </label> </th> 
       <th data-data="id" data-searchable="false" data-visible="false">Id</th> 
       <th data-data="title" data-searchable="true">标题</th> 
       <th data-data="author" data-searchable="true">作者</th> 
       <th data-data="type" data-searchable="false" data-orderable="false">类型</th>
       <th data-data="content" data-searchable="false" data-orderable="false">内容</th>
       <th data-data="like_num" data-searchable="false">点赞数</th> 
       <th data-data="remark_num" data-searchable="false">评论数</th> 
       <th data-data="updated_time" data-searchable="false">上次修改时间</th>
       <th data-data="created_time" data-searchable="false">文章创建时间</th>
          <th data-data="state" data-searchable="false" data-orderable="false">状态</th>
          <th data-data="official" data-searchable="false" data-orderable="false">代表</th>
      </tr>
     </thead> 
     <tbody> 
     </tbody> 
    </table> 
   </div> 
  </div> 
  <div id="static2" class="modal fade hide" tabindex="-1" data-backdrop="static" data-keyboard="false"> 
   <div class="modal-body"> 
    <p> Would you like to continue with some arbitrary task? </p> 
   </div> 
   <div class="modal-footer"> 
    <button type="button" data-dismiss="modal" class="btn btn-outline dark">Cancel</button> 
    <button type="button" data-dismiss="modal" class="btn green">Continue Task</button> 
   </div> 
  </div>
  <div id="addArticle" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="portlet-body form" id="article_wizard">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="false"> × </button>
          <h4 class="modal-title"><i class="fa fa-plus"></i> 添加文章 </h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label class="control-label">文章类型</label>
            <select name="article_type" id="article_typeLsit" class="form-control">
            </select>     
          </div>
          
      </div>
      <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn dark btn-outline">关闭</button>
          <button type="button" class="btn green" action="submit" >添加</button>
      </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      var ComponentsBootstrapSelect=function(){var n=function(){$(".bs-select").selectpicker({iconBase:"fa",tickIcon:"fa-check"})};return{init:function(){n()}}}();App.isAngularJsApp()===!1&&jQuery(document).ready(function(){ComponentsBootstrapSelect.init()});
      jQuery(document).ready(function(){
        initTable('articleListTable', '{:U("Data/articleList")}', '{:U("Article/operate")}', ['id', 'type_id']);
        UIExtendedModals.init();
    }); 
    var ArtcileModal = $('#addArticle'); 
    ArtcileModal.on("shown.bs.modal", function(){
      createArticle.init(); 
      $("[name='article_type']", ArtcileModal).select2({
        placeholder: '选择文章类型',
        ajax:{
          url: getUrl()+"/Admin/Article/getWriteType",
          cache: true,
          processResults: function(data) {
            data = connection.decode(data);
            data = data.data;
            return {results: data};
          }
        }
      });
    });
    ArtcileModal.find('[action="submit"]').on('click',function () {
       var title = ArtcileModal.find('[name="title"]').val();
       var content = ArtcileModal.find('[name="content"]').val();
       var type_id = ArtcileModal.find('[name="article_type"]').val();
       var official =  ArtcileModal.find('[name="is_official"]');

       if(type_id==='' || title==='' || content==='') {
           alert("不能为空");
           return;
       }
       var photo_src = "";
       var thumbnail_src = "";
       var photo = $('.files .template-download');
       $.each(photo, function(key, value){
           var p_src = $(value).find('.preview a').attr('href');
           photo_src += p_src.substr(p_src.lastIndexOf('/')+1)+',';
           var thumb_src = $(value).find('.preview img').attr('src');
           thumbnail_src += thumb_src.substr(thumb_src.lastIndexOf('/')+1)+',';
       });
        photo_src = photo_src.substring(0, photo_src.length-1);
        thumbnail_src = thumbnail_src.substring(0, thumbnail_src.length-1);
        var data = {
            'title' : title,
            'content' : content,
            'type_id' : type_id,
            'thumbnail_src': thumbnail_src,
            'photo_src': photo_src,
        };
        if (official.length > 0) {
            data['official'] = official.bootstrapSwitch('state');
        }
        if (parseInt(type_id) === 7) {
            var keyword = $('[name="keyword"]').val();
            if (keyword === '') {
                alert("关键词不能为空");
                return;
            }
            data['keyword'] = keyword;
        }
        console.log(data);
       $.ajax({
            url: getUrl()+"/Admin/Article/addArticle",
            data:data,
            dataTypeString:'text',
            type: 'post',
            success:function (data) {
           data = connection.decode(data);
               if (data.status === 200) {
                       alert("添加成功");
               } else {
                   alert(data.info);
               }
               ArtcileModal.modal('hide');
           }
       });
    });
</script> 
 