<extend name="layouts:core" />
  <block name="title">登录</block>
  <block name="css">
<!--   .container {
    position: fixed;
    width: 100%;
    height: 100%;
  }
  .container .bordered {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  } -->
  <!-- <link href="__PUBLIC__/css/signin.css" rel="stylesheet"> -->
  </block>

 <block name="body">
   <!--  <div class="container">

      <form class="form-signin" action="{:U('Admin/login')}" method="post">
        <h2 class="form-signin-heading">管理员登录</h2> 
        <label for="inputEmail" class="sr-only">用户名</label>
        <input type="text" id="inputEmail"  name="stuNum" class="form-control" placeholder="用户名" required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="密码" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      </form>

    </div> --> <!-- /container -->
    <div class="container" style="position:fixed;width: 100%;height: 100%;">
    <div class="portlet-title"  style="position: absolute;margin: 144px auto;top: 0;left: 0;right: 0;bottom: 0;width:1000px;height: 200px">
    <div class="caption font-green-haze">
        <i class="fa fa-user"></i>
        <span class="caption-subject bold uppercase"> 
        管理员登录
        </span>
    </div>
    
    <div class="portlet light bordered">
        <form class="form-horizontal margin-bottom-40" role="form" action="{:U('Admin/login')}"  method="post">
          <div class="form-group form-md-line-input has-success" >
              <label for="inputstuNum" class="col-md-2 control-label">学号</label>
              <div class="col-md-4">
                  <div class="input-icon right">
                      <input type="text" class="form-control" placeholder="Student Id" name="stuNum" id="inputstuNum">
                      <div class="form-control-focus"> </div>
                      <i class="fa fa-graduation-cap"></i>
                  </div>
              </div>
          </div>
          <div class="form-group form-md-line-input has-error">
              <label for="inputPassword" class="col-md-2 control-label">Password</label>
              <div class="col-md-4">
                  <div class="input-icon right">
                      <input type="password" class="form-control" placeholder="Password" name="password" id ="inputPassword">
                      <div class="form-control-focus"> </div>
                      <i class="fa fa-key"></i>
                  </div>
                  <div class="help-block"> with right aligned icon </div>
              </div>
          </div>
          <!-- <div class="form-group form-md-line-input has-error">
          <!-- <label for="inputPassword1" class="col-md-2 control-label">Password</label> -->
          <!-- <div class="col-md-4">
              <div class="input-icon">
              <input type="password" class="form-control"  placeholder="Password">
              <div class="form-control-focus"> </div>
              <span class="help-block">Some help goes here...</span>
              <i class="fa fa-key"></i>
              </div>
            </div> -->
          <!-- </div>  -->
          <!-- <div class="form-group form-md-line-input">
              <div class="col-md-offset-2 col-md-4">
                  <div class="md-checkbox-list">
                      <div class="md-checkbox">
                          <input type="checkbox" id="checkbox11111" class="md-check">
                          <label for="checkbox11111">
                              <span></span>
                              <span class="check"></span>
                              <span class="box"></span> Remember me </label>
                      </div>
                  </div>
              </div>
          </div> -->
              <div class="form-group">
                  <div class="col-md-offset-2 col-md-10">
                      <button type="submit" class="btn green">Sign in</button>
                  </div>
              </div>
        </form>
    </div>
    </div>
    </div>


  </block>
