<extend name="layouts:core" />
  <block name="title">登录</block>
  <block name="css">
<!--   .container {
    position: fixed;
    width: 100%;
    height: 100%;
  }
  .container .bordered {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  } -->
  <!-- <link href="__PUBLIC__/css/signin.css" rel="stylesheet"> -->
  </block>

 <block name="body">

    <div class="container" style="position:fixed;width: 100%;height: 100%;">
    <div class="portlet-title"  style="position: absolute;margin: 144px auto;top: 0;left: 0;right: 0;bottom: 0;width:1000px;height: 200px">
    <div class="caption font-green-haze">
        <i class="fa fa-user"></i>
        <span class="caption-subject bold uppercase"> 
        管理员登录
        </span>
    </div>
    
    <div class="portlet light bordered">
        <form class="form-horizontal margin-bottom-40" role="form" action="{:U('Admin/login')}"  method="post">
          <div class="form-group form-md-line-input has-success" >
              <label for="inputstuNum" class="col-md-2 control-label">学号</label>
              <div class="col-md-4">
                  <div class="input-icon right">
                      <input type="text" class="form-control" placeholder="Student Id" name="stuNum" id="inputstuNum">
                      <div class="form-control-focus"> </div>
                      <i class="fa fa-graduation-cap"></i>
                  </div>
              </div>
          </div>
          <div class="form-group form-md-line-input has-error">
              <label for="inputPassword" class="col-md-2 control-label">Password</label>
              <div class="col-md-4">
                  <div class="input-icon right">
                      <input type="password" class="form-control" placeholder="Password" name="password" id ="inputPassword">
                      <div class="form-control-focus"> </div>
                      <i class="fa fa-key"></i>
                  </div>
                  <div class="help-block"> with right aligned icon </div>
              </div>
          </div>

              <div class="form-group">
                  <div class="col-md-offset-2 col-md-10">
                      <button type="submit" class="btn green">Sign in</button>
                  </div>
              </div>
        </form>
    </div>
    </div>
    </div>


  </block>
