<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>掌上重邮官方网站-重邮首款完美整合校园信息与生活的APP</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/styles/index.css">
</head>
<body>
<!--[if lt IE 9]>
	<script type="text/javascript">
		alert("亲! 你的浏览器版本过低, 下个chrome吧! ");
		window.location.href("http://rj.baidu.com/soft/detail/14744.html");
	</script>
<![endif]-->
	<header>
		<div id="header">
			<div class="logo"></div>
			<nav>
				<a href="http://hongyan.cqupt.edu.cn/" class="black" target="_blank">红岩网校</a>
				<a href="http://172.22.161.11/" class="black" target="_blank">BT down铺</a>
				<a href="http://202.202.43.42/software/" class="black" target="_blank">软件中心</a>
				<a href="http://hongyan.cqupt.edu.cn/aboutus/" class="black" target="_blank">关于我们</a>
			</nav>
		</div>
	</header>
	<section id="top">
		<div class="out animation">
			<div class="phone2"></div>
			<div class="phone1"></div>
			<div class="word">
				<div class="zscy"></div>
				<div class="hand-zscy"></div>
				<div class="app-zscy"></div>
				<div class="phone">
					<a href="https://itunes.apple.com/cn/app/zhang-shang-zhong-you/id974026615"><div class="iphone xz"><span class="iconfont1">&#xe60d;</span><span class="for-jz">iPhone版下载</span></div></a>
					<a href="http://hongyan.cqupt.edu.cn/app/com.mredrock.cyxbs.apk"><div class="android xz"><span class="iconfont1 iconfont2">&#xe62e;</span><span class="for-jz">Android版下载</span></div></a>
					<a href="https://www.microsoft.com/zh-cn/store/apps/%e6%8e%8c%e4%b8%8a%e9%87%8d%e9%82%ae-%e9%87%8d%e9%82%ae%e5%b0%8f%e5%b8%ae%e6%89%8b/9nblggh1zrc6"><div class="wp xz"><span class="iconfont1 iconfont3">&#xe60e;</span><span class="for-jz">wp/win版下载</span></div></a>
				</div>
			</div>
		</div>
	</section>
	<section id="find">
		<div class="out">
			<div class="word">
				<div class="find"></div>
				<div class="function"></div>
			</div>
			<div class="more2"></div>
			<div class="more1">
				<div class="in"></div>
			</div>
			<div class="scope"></div>
			<div class="screen"></div>
		</div>
	</section>
	<section id="info">
		<div class="out">
			<div class="extra-bg"></div>
			<div class="news3"></div>
			<div class="news2"></div>
			<div class="news1"></div>
			<div class="word">
				<div class="seek"></div>
				<div class="info"></div>
			</div>
		</div>
	</section>
	<section id="more-func">
		<div class="out">
			<div class="word">
				<div class="my"></div>
				<div class="change"></div>
			</div>
			<div class="func3"></div>
			<div class="func2"></div>
			<div class="func1"></div>
		</div>
	</section>
	<section id="share">
		<div class="word">
			<a href="http://weibo.com/redrockweekly/" target="_blank">
				<div class="sina">
					<span>&#xe665;</span>
					<p class="title">新浪微博</p>
					<P>重庆邮电大学红-岩网校工作站</P>
				</div>
			</a>
			<a href="##">
				<div class="qq">
					<span>&#xe696;</span>
					<p class="title">官方QQ号</p>
					<P>875631569</P>
				</div>
			</a>
			<a href="mailto://redrock@cqupt.edu.cn">
				<div class="e-mail">
					<span>&#xe729;</span>
					<p class="title">用户反馈</p>
				</div>
			</a>
		</div>
	</section>
	<footer>
		<p><a href="http://hongyan.cqupt.edu.cn/aboutus/" title="关于红岩网校">关于红岩网校</a> | <a href="##" title="网站地图">网站地图</a> | <a href="##" title="指出错误">指出错误</a> | <a href="##" title="管理入口">管理入口</a> </p>
		<p>本网站由红岩网校工作站负责开发，管理，不经红岩网校委员会书面同意，不得进行转载</p>
		<p>地址：重庆市南岸区崇文路2号（重庆邮电大学内） 400065 E-mail:redrock@cqupt.edu.cn (023-62461084)</p>
	</footer>
	<div id="up" style='z-index: 1000;'>&#xe631;</div>
	<div class="theme-popover-mask"></div>
	<script src="__PUBLIC__/js/jQueryv1.7.2.js"></script>
	<script src="__PUBLIC__/js/index.js"></script>
</body>
</html>