<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><block name="title">后台管理系统</block></title>
	<block name="corecss">
    <link href="__PUBLIC__/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/components.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/plugins.min.css" rel="stylesheet">
    <link href="__PUBLIC__/fonts/font-awesome/css/font-awesome.min.css"  rel="stylesheet">
	</block>
	<block name="css"></block>
  </head>
  <body>
  <block name="body"></block>
  </body>
  <block name="corejs">
    <script src="__PUBLIC__/bootstrap-3.3.5-dist/js/jquery-3.1.0.min.js"></script>
    <script src="__PUBLIC__/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/admin/cryte/base64.js"></script>
    <script src="__PUBLIC__/js/admin/cryte/connect.js"></script>
    <script src="__PUBLIC__/js/admin/cryte/hmac-sha256.js"></script>
    <script src="__PUBLIC__/js/admin/cryte/enc-base64.js"></script>
  </block>
  <block name="js">
  </block>
  </html>