<!-- edittable start -->

<script src="__PUBLIC__/plugins/bootstrap3-editable-1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script src="__PUBLIC__/plugins/bootstrap3-editable-1.5.1/bootstrap3-editable/js/form-editable.js"></script>
<script src="__PUBLIC__/plugins/bootstrap3-editable-1.5.1/inputs-ext/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="__PUBLIC__/plugins/bootstrap3-editable-1.5.1/inputs-ext/datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="__PUBLIC__/plugins/bootstrap3-editable-1.5.1/inputs-ext/wysihtml5/wysihtml5.js"></script>
<script src="__PUBLIC__/plugins/bootstrap3-editable-1.5.1/inputs-ext/address/address.js"></script>
<script src="__PUBLIC__/plugins/bootstrap3-editable-1.5.1/inputs-ext/wysihtml5/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
<script src="__PUBLIC__/plugins/bootstrap3-editable-1.5.1/inputs-ext/wysihtml5/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
<script src="__PUBLIC__/plugins/bootstrap3-editable-1.5.1/inputs-ext/typeaheadjs/bootstrap-typeahead/bootstrap3-typeahead.min.js"></script>
<script src="__PUBLIC__/plugins/bootstrap3-editable-1.5.1/inputs-ext/typeaheadjs/typeaheadjs.js"></script>


<!-- edittable end -->

<!-- select2 start -->

<script src="__PUBLIC__/plugins/select2/js/select2.full.min.js"></script>
<script src="__PUBLIC__/plugins/select2/js/select2.js"></script>

<!-- select end -->

<!-- datatables start -->

<script src="__PUBLIC__/plugins/datatables/datatables.min.js"></script>
<script src="__PUBLIC__/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js"></script>
<script src="__PUBLIC__/plugins/datatables/datatable.js"></script>

<!-- datatables end -->

<!-- form-wizard start -->

<script src="__PUBLIC__/plugins/form-wizard/jquery.bootstrap.wizard.js"></script>
<script src="__PUBLIC__/plugins/form-wizard/form-wizard.js"></script>

<!-- form-wizard end -->

<script src="__PUBLIC__/plugins/jquery.slimscroll.js"></script>

<script src="__PUBLIC__/plugins/jquery.validate.js"></script>

<script src="__PUBLIC__/plugins/moment.min.js"></script>

<!-- jquery Ui begin -->

<script src="__PUBLIC__/plugins/jquery-ui/jquery-ui.min.js" ></script>

<!-- jquery Ui end -->

<!-- Modal start -->

<script src="__PUBLIC__/plugins/bootstrap-modal/js/bootstrap-modal.js"></script>
<script src="__PUBLIC__/plugins/bootstrap-modal/js/bootstrap-modalmanager.js"></script>

<!-- Modal end -->


<!-- File-upload begin -->

<script src="__PUBLIC__/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/jquery-file-upload/js/vendor/tmpl.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/jquery-file-upload/js/vendor/load-image.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/jquery-file-upload/js/vendor/canvas-to-blob.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/jquery-file-upload/blueimp-gallery/jquery.blueimp-gallery.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/jquery-file-upload/js/jquery.iframe-transport.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/jquery-file-upload/js/jquery.fileupload.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/jquery-file-upload/js/jquery.fileupload-process.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/jquery-file-upload/js/jquery.fileupload-image.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/jquery-file-upload/js/jquery.fileupload-audio.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/jquery-file-upload/js/jquery.fileupload-video.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/jquery-file-upload/js/jquery.fileupload-validate.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/jquery-file-upload/js/jquery.fileupload-ui.js" type="text/javascript"></script>

<!-- File-upload end -->