<!-- edittable begin -->

<link href="__PUBLIC__/plugins/bootstrap3-editable-1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
<link href="__PUBLIC__/plugins/bootstrap3-editable-1.5.1/inputs-ext/wysihtml5/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" />
<link href="__PUBLIC__/plugins/bootstrap3-editable-1.5.1/inputs-ext/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="__PUBLIC__/plugins/bootstrap3-editable-1.5.1/inputs-ext/wysihtml5/bootstrap-wysihtml5/wysiwyg-color.css" rel="stylesheet" />

<!-- edittable end -->

<!-- select2 begin -->

<link href="__PUBLIC__/plugins/select2/css/select2.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugins/select2/css/select2-bootstrap.min.css">

<!-- select2 end -->

<!-- datatables begin -->


<link href="__PUBLIC__/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet">
<link href="__PUBLIC__/plugins/datatables/datatables.min.css" rel="stylesheet">

<!-- datatables end -->

<!-- jquery Ui begin -->

<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugins/jquery-ui/jquery-ui.min.css" />

<!-- jquery Ui end -->

<!-- bootstrap-modal start -->

<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugins/bootstrap-modal/css/bootstrap-modal.css" />

<!-- bootstrap-modal end -->

<!-- file-upload begin -->

<link href="__PUBLIC__/plugins/jquery-file-upload/blueimp-gallery/blueimp-gallery.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/plugins/jquery-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet" type="text/css" />

<!-- file-upload  end -->

<link href="__PUBLIC__/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />

<link href="__PUBLIC__/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />